<div class="title">
    <h1>Adicionar veículo</h1>
</div>

<div class="form-container">
    <form action="/cars/add" method="post">
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
            <input type="text" name="name" class="form-control" id="">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Modelo</label>
            <div class="col-sm-10">
            <input type="text" name="model" class="form-control" id="">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Motor</label>
            <div class="col-sm-10">
            <input type="text" name="motor" class="form-control" id="">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Ano</label>
            <div class="col-sm-10">
            <input type="text" name="year" class="form-control" id="">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Fabricante</label>
            <div class="col-sm-10">
            <input type="text" name="producer" class="form-control" id="">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Preço</label>
            <div class="col-sm-10">
            <input type="text" name="price" class="form-control" id="">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Cor</label>
            <div class="col-sm-10">
            <input type="text" name="color" class="form-control" id="">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Opcionais</label>
            <div class="col-sm-10">
            <input type="text" name="optional" class="form-control" id="">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <a class="btn btn-primary" href="/cars/allCars" role="button">Todos os Veículos</a>
    </form>

</div>
