
<h2>{{message}}</h2>

<h1>Locadora de Veículos</h1>
<h3>Seja bem-vindo!</h3>
<form action="/cars/add" method="get">
    <button type="submit" class="btn btn-warning" id="button">Novo Veículo</button>

    
</form>

<form action="/cars/allCars">
    <button type="submit" class="btn btn-warning" id="button">Todos os Veículos</button>
</form>
